{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'website/font-awesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/variables.css'%}">
</head>
<body>
    <form id="login-form" class="container-xs mx-auto" action="{% url 'login'%}" method="post">
        <h2 class="text-center">Login</h2>
        {% if loginError %}
            <p>An error has occured</p>
        {% endif %}
        
        <small>Email</small>
        <input class="w-100 mt-1 mb-4" type="text" name = "email" placeholder="enter email" id="email_field">
        {% csrf_token %}
        <small>Password</small>
        <div class="paswdField-container" style="position:relative;">
            <i class="far fa-eye pwd-eye hide"></i>
            <i class="far fa-eye-slash pwd-eye"></i>
            <input id="passwordField" class="w-100 mt-1 mb-4" type="password" name="password" placeholder="enter password">
        </div>
        <button>submit</button>
        <p id ="register_text">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
    </form>
    <script>
        newPwdObj = (inp) =>{
            let showPass = false
            return {
                switch: (e)=>{
                    return function(){
                        showPass = !showPass
                        this.classList.add("hide"); 
                        e.classList.remove("hide");
                        inpType = (showPass)? "text":"password"
                        inp.setAttribute("type",inpType)
                    }
                }
            }
        }
        pwdObjs = []
        pwdContainers = document.getElementsByClassName("paswdField-container")
        for(container of pwdContainers){
            ary = []
            for(e of container.children) {
                ary.push(e)
            }
            pwdObjs.push(ary)
        }
        for (obj of pwdObjs){
            [ico1,ico2,inp] = [obj[0],obj[1],obj[2]] // icon1,icon2,input
            ff = newPwdObj(inp)
            ico1.addEventListener("click",ff.switch(ico2))
            ico2.addEventListener("click",ff.switch(ico1))
        }
        function submitForm(){
            document.getElementById("register-form").submit()
        }

    </script>
</body>
</html>