
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'website/font-awesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/form.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src = "{% static 'website/formscript.js' %}"></script>
</head>
<body>
    <form id="register-form" class="login-container mt-4" action="{% url 'register'%}" method="post">
        {% csrf_token %}
        <h2 class="text-center">Register</h2>
        <div class="alert alert-danger d-none" role="alert" id="login_fail" >Unsuccessful login attempt!</div>
        <div class="form-group mb-3">
            <lablel>Email</lablel>
            <input class="form-control w-100 mt-1 " type="text" name = "email" placeholder="Enter email" id="email_field">
        </div>

        <div class="form-row mb-3">
            <div class="col">
                <label>Firstname</label>
                <input class="form-control" type="text" name="firstname" placeholder="enter firstname"> 
            </div>
            <div class="col">
                <label>Lastname</label>
                <input class="form-control" type="text" name="lastname" placeholder="enter lastname"> 
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <div class="passwordField-container" style="position:relative;">
                <i class="far fa-eye fa-eye-slash pwd-eye"></i>
                <input id="pwd-input" class="form-control passwordField w-100 mt-1 " name="password" type="password" placeholder="enter password">
            </div>
        </div>
        <div class="strength-indicator mb-4 d-none"></div>
        <div class="form-group">
            <label>Confirm Password</label>
            <div class="passwordField-container" style="position:relative;">
                <i class="far fa-eye fa-eye-slash pwd-eye"></i>
                <input class="form-control passwordField w-100 mt-1" type="password" placeholder="enter password">
            </div>
        </div>
        <button class="btn btn-primary"type="button" onclick="registerSubmit()">submit</button>
    </form>
    <script>
        newPwdObj = (inp) =>{
            let showPass = false
            return {
                switch_factory: ()=>{
                    return function(){
                        showPass = !showPass
                        this.classList.toggle("fa-eye-slash")
                        inpType = (showPass)? "text":"password"
                        inp.setAttribute("type",inpType)
                    }
                }
            }
        }
        load_pwdTogglers = ()=>{
            pwdObjs = []
            pwdContainers = document.getElementsByClassName("passwordField-container")
            for(container of pwdContainers){
                ary = []
                for(e of container.children) {
                    ary.push(e)
                }
                pwdObjs.push(ary)
            }
            for (obj of pwdObjs){
                [ico,inp] = [obj[0],obj[1]] // icon1,icon2,input
                ff = newPwdObj(inp)
                ico.addEventListener("click",ff.switch_factory())
            }
        }
        load_pwdTogglers()
        //keyboard handling
        document.addEventListener("keyup", function(event){
            if (event.keyCode == 13){
                registerSubmit()
            }
        })
    
        //strength indicator bars
        indicator = document.querySelector('.strength-indicator')
        pwdInp = document.querySelector('#pwd-input')
        let icontains = (s)=>{ return indicator.classList.contains(s)}
        setInterval(function(){
            if (pwdInp.value.length > 0 && icontains("d-none")){
                indicator.classList.toggle("d-none")
            }
            window.requestAnimationFrame(function(){
                if (pwdInp.value.length == 0){
                    indicator.classList.remove("strength-100")
                    indicator.classList.remove("strength-66")
                }
                if (pwdInp.value.length >= 8 ){
                    if (!indicator.classList.contains("strength-100")){
                        indicator.classList.add("strength-100")
                    }
                }else if (pwdInp.value.length > 4 ){
                    if (!icontains("strength-66") ){
                        indicator.classList.toggle("strength-66")
                    }
                    indicator.classList.remove("strength-100")
                }else if (pwdInp.value.length > 0 ){
                    if(!indicator.classList.contains("strength-33")){
                        indicator.classList.add("strength-33")
                    } 
                    indicator.classList.remove("strength-66")
                } 
            })
        },100)
    </script>
</body>
</html>