
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'website/font-awesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/variables.css'%}">
</head>
<body>
    <form id="register-form" class="container-xs mx-auto" action="{% url 'register'%}" method="post">
        {% csrf_token %}
        <h2 class="text-center">Register</h2>
        <small>Email</small>
        <input class="w-100 mt-1 mb-4" type="text" name="email" placeholder="enter email">

        <div class="flex-container">
            <div>
                <div>
                    <small>Firstname</small>
                </div>
                <input class="w-90 mt-1 mb-4" type="text" name="firstname" placeholder="enter firstname"> 
            </div>
            <div>
                <div>
                    <small>Lastname</small>
                </div>
                <input class="w-90 mt-1 mb-4" type="text" name="lastname" placeholder="enter lastname"> 
            </div>
        </div>

        <small>Password</small>
        <div class="passwordField-container" style="position:relative;">
            <i class="far fa-eye-slash fa-eye pwd-eye"></i>
            <input id="pwd-inp" class="passwordField w-100 mt-1 mb-4" type="password" name="password" placeholder="enter password">
        </div>
        <div class="strength-indicator mb-4 hide">
        </div>
        <small>Confirm password</small>
        <div class="passwordField-container" style="position:relative;">
            <i class="far fa-eye-slash fa-eye pwd-eye"></i>
            <input class="passwordField w-100 mt-1 mb-4" type="password" placeholder="enter password">
        </div>
        <button type="sumbit" onclick="submitForm()">submit</button>
    </form>
    <script>
        newPwdObj = (inp) =>{
            let showPass = false
            return {
                switch_factory: ()=>{
                    return function(){
                        showPass = !showPass
                        this.classList.toggle("fa-eye-slash")
                        inpType = (showPass)? "text":"password"
                        inp.setAttribute("type",inpType)
                    }
                }
            }
        }
        load_pwdEyes = ()=>{
            pwdObjs = []
            pwdContainers = document.getElementsByClassName("passwordField-container")
            for(container of pwdContainers){
                ary = []
                for(e of container.children) {
                    ary.push(e)
                }
                pwdObjs.push(ary)
            }
            for (obj of pwdObjs){
                [ico,inp] = [obj[0],obj[1]] // icon1,icon2,input
                ff = newPwdObj(inp)
                ico.addEventListener("click",ff.switch_factory())
            }
        }
        load_pwdEyes()

        function submitForm(){
            document.getElementById("register-form").submit()
        }
        pwdInp = document.querySelector('#pwd-inp')
    
        indicator = document.querySelector('.strength-indicator')
        setInterval(function(){
            if (pwdInp.value.length > 0 && indicator.classList.contains("hide")){
                indicator.classList.toggle("hide")
            }
            window.requestAnimationFrame(function(){
                    if (pwdInp.value.length >= 8 && !indicator.classList.contains("strength-100")){
                        indicator.classList.add("strength-100")
                    }else if (pwdInp.value.length > 4 && !indicator.classList.contains("strength-66")){
                        indicator.classList.add("strength-66")
                    }else if (pwdInp.value.length > 0 && !indicator.classList.contains("strength-33")){
                        indicator.classList.add("strength-33")
                    }
            })
        },100)
    </script>
</body>
</html>